In [8]:
import os
import sqlite3
import requests
import pandas as pd

In [10]:
RAPIDAPI_HOST = os.environ.get("RAPIDAPI_HOST")
RAPIDAPI_KEY = os.environ.get("RAPIDAPI_KEY")

In [ ]:
local_path = os.getcwd()
local_path

In [15]:
HEADERS = {
    "x-rapidapi-key": RAPIDAPI_KEY,
    "x-rapidapi-host": RAPIDAPI_HOST
}
BASE_URL = f"https://{RAPIDAPI_HOST}/"

In [16]:
def get(endpoint, params=None):
    r = requests.get(f"{BASE_URL}/{endpoint}", headers=HEADERS, params=params, timeout=30)
    r.raise_for_status()
    return r.json()

In [ ]:
def extract_teams():
    data = get("nfl-team-listing/v1/data")
    extracted = []
    for item in data:
        team = item.get("team", {})
        extracted.append({
            "team_id": team.get("id"),
            "display_name": team.get("displayName"),
            "name": team.get("name"),
            "nickname": team.get("nickname"),
            "location": team.get("location")
        })
    return pd.DataFrame(extracted)

In [28]:
df = extract_teams()
df

   team_id           display_name        name    nickname       location
0       22      Arizona Cardinals   Cardinals   Cardinals        Arizona
1        1        Atlanta Falcons     Falcons     Falcons        Atlanta
2       33       Baltimore Ravens      Ravens      Ravens      Baltimore
3        2          Buffalo Bills       Bills       Bills        Buffalo
4       29      Carolina Panthers    Panthers    Panthers       Carolina
5        3          Chicago Bears       Bears       Bears        Chicago
6        4     Cincinnati Bengals     Bengals     Bengals     Cincinnati
7        5       Cleveland Browns      Browns      Browns      Cleveland
8        6         Dallas Cowboys     Cowboys     Cowboys         Dallas
9        7         Denver Broncos     Broncos     Broncos         Denver
10       8          Detroit Lions       Lions       Lions        Detroit
11       9      Green Bay Packers     Packers     Packers      Green Bay
12      34         Houston Texans      Texans      Texans        Houston
13      11     Indianapolis Colts       Colts       Colts   Indianapolis
14      30   Jacksonville Jaguars     Jaguars     Jaguars   Jacksonville
15      12     Kansas City Chiefs      Chiefs      Chiefs    Kansas City
16      13      Las Vegas Raiders     Raiders     Raiders      Las Vegas
17      24   Los Angeles Chargers    Chargers    Chargers    Los Angeles
18      14       Los Angeles Rams        Rams        Rams    Los Angeles
19      15         Miami Dolphins    Dolphins    Dolphins          Miami
20      16      Minnesota Vikings     Vikings     Vikings      Minnesota
21      17   New England Patriots    Patriots    Patriots    New England
22      18     New Orleans Saints      Saints      Saints    New Orleans
23      19        New York Giants      Giants      Giants       New York
24      20          New York Jets        Jets        Jets       New York
25      21    Philadelphia Eagles      Eagles      Eagles   Philadelphia
26      23    Pittsburgh Steelers    Steelers    Steelers     Pittsburgh
27      25    San Francisco 49ers       49ers       49ers  San Francisco
28      26       Seattle Seahawks    Seahawks    Seahawks        Seattle
29      27   Tampa Bay Buccaneers  Buccaneers  Buccaneers      Tampa Bay
30      10       Tennessee Titans      Titans      Titans      Tennessee
31      28  Washington Commanders  Commanders  Commanders     Washington